.container {
  background: linear-gradient(180deg, #313132 0%, #161618 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* left */
.left {
  width: 163px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-right: 1px solid #707070;
}
.social-icons {
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  width: 20px;
  height: 20px;
}

.logo {
  width: 82px;
  height: 61px;

  font-family: "Tuffy";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* right */
.right {
  width: 100%;
}
/* header */
header {
  /* background-color: red; */
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 55px;
}
.nav-links {
  color: #ffffff;
  display: flex;
  column-gap: 55px;
}
.search-icon {
  width: 19px;
  height: 19px;
  margin-left: 80px;
}

.nav-active {
  color: #efc862;
  text-decoration-line: underline;
}
